/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .icon {
position: absolute;
padding: 6px;
pointer-events: none;
}

/* align icon */
.left-addon .icon  { left:  0px;}
.right-addon .icon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
