@media(min-width: 1026px) {
    .admin-mid.expand-rightside {
        margin-left: 60px;
        padding-left: 15px;
    }
}

@media(max-width: 786px) {
    .admin-mid {
        margin-left: 0;
        padding-left: 15px;
    }
    .admin-mid.expand-rightside {
        transform: translateX(225px);
        padding-right: 15px;
    }
    .open-sidebar {
        overflow: hidden;
    }
}

@media(max-width: 980px) {
    .statistic-box .number {
        font-size: 30px;
    }
}

@media(max-width: 768px) {
    .data-filter .data-filter-bottom {
        flex-wrap: wrap;
    }
    .data-filter .data-filter-bottom .form-group {
        padding: 0 15px;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media(max-width: 480px) {
    .data-filter .data-filter-bottom .form-group {
        padding: 0 15px;
        flex: none;
        max-width: none;
        width: 100%;
    }
}