<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '50px' }"></ngx-loading>
<h5 class="with-border">Change Password</h5>
<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal register-wrap" [formGroup]="form" (ngSubmit)="OnSubmit()">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="hashPassword" class="col-sm-12 control-label"> Current Password</label>
            <div class="col-sm-12">
              <input type="text" style="display:none;" [(ngModel)]="changePasswordModel.UserId" formControlName="UserId" [(ngModel)]="user" name="UserId">
              <input type="password" class="form-control" id="hashPassword" [(ngModel)]="changePasswordModel.HashPassword" formControlName="hashPassword" placeholder="Enter current password" autocomplete=off>
              <span class="help-block text-danger" *ngIf="(form.get('hashPassword').touched ||
                                                     form.get('hashPassword').dirty)
                                                     && form.get('hashPassword').errors">
                  Current Password is required.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="newpassword" class="col-sm-12 control-label">New Password</label>
            <div class="col-sm-12">
              <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter new password">
              <span class="help-block text-danger" *ngIf="(form.get('password').touched ||
                                                         form.get('password').dirty)
                                                         && form.get('password').errors">
                  New Password is required.
                <span class="alert alert-danger" *ngIf="form.controls['password'].errors?.minlength">
                  Password length should between 6 to 15
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="confirmpassword" class="col-sm-12 control-label">Re Password</label>
            <div class="col-sm-12">
              <input type="password" class="form-control" id="confirmpassword" [(ngModel)]="changePasswordModel.NewPassword" formControlName="confirmPassword" placeholder="Enter new password">
              <span class="help-block text-danger" *ngIf="(form.get('confirmPassword').touched ||
                                                             form.get('confirmPassword').dirty)
                                                             && form.get('confirmPassword').errors">
                  Confirm Password is required.
              </span>
              <div class="alert alert-danger"  *ngIf="form.controls['confirmPassword'].errors?.MatchPassword">Password not match</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="form-group">
            <div class="col-md-3">
              <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
