.change-password-module{background-color: white;padding: 20px 10px;margin: auto;box-shadow:0 0 2px 2px #ededed;margin-top:20px;}
.change-password-module h4{font-size: 20px;
  text-align: center;
  margin-bottom: 20px;}
  .change-password-module .help-block.text-danger{    float: left;
  margin-top: 8px;
  margin-bottom: 15px;
  font-size: 12px;}
