.change-type-child{margin-left: 8rem;}
.fetch-image{display: inline-block;float: right;width: 200px;height:100px;border:1px solid #c4c4c4;margin-left:15px;}
.custom-btn-click{padding: 6px 7px;background-color: #ebebeb;font-size: 14px;border-radius: 50%;}
