<p-growl [(value)]="msgs"></p-growl>

<div class="login">
    <div class="login-top">
        <img src="assets/themes/images/logo.png" alt="logo">
    </div>
    <div class="login-wrap">
        <form [formGroup]="form" (ngSubmit)="OnSubmit(form.value)" autocomplete="off">
            <div class="login-title text-center">
                <h4>Forgot Password</h4>
                <p>Kindly enter your details in order to get new password.</p>
            </div>
            <div class="login-body">
                <div class="form-group">
                    <label for="emailid">Email address</label>
                    <input type="email" class="form-control" id="emailid" formControlName="Email" placeholder="Enter valid email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required>
                    <div *ngIf="form.controls['Email'].dirty && !form.controls['Email'].valid && form.controls['Email'].touched && form.controls['Email'].errors" class="error-message">
                        <div class="alert alert-danger" *ngIf="form.controls['Email'].errors.required">Email is required</div>
                        <div class="alert alert-danger" *ngIf="!form.controls['Email'].errors.required && form.controls['Email'].errors.pattern">This is not a valid email</div>
                    </div>
                </div>
                <div class="login-button ">
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
                    <!-- <div class="text-center">
                        <a href="" [routerLink]="['/account/login']">Click for login</a>
                    </div> -->
                    <div class="text-center">
                        <a href="" class="jump-to-link" [routerLink]="['/account/login']">Sign In</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="copyright">
    <div class="pull-center" style="margin: 0 0 0 633px;">
      <sup></sup>
      <br>
      <a target="_blank" href="" [routerLink]="['/account/privacy']">Privacy policy</a>
    </div>
  </div>
