<p-growl [(value)]="msgs"></p-growl>
<div id="login-page">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="assets/themes/images/logo.png" alt="logo"></a>
        </div>
        <!-- Top Menu Items -->
    </nav>
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="login-wrap">
                <form [formGroup]="form" (ngSubmit)="OnSubmit()" autocomplete="off">
                    <div class="login-title">
                        <h1>Reset Password</h1>
                    </div>
                    <div class="form-group">
                        <label for="Password">New Password</label>

                        <input type="password" class="form-control" id="password" formControlName="Password" placeholder="Enter Password">

                        <div *ngIf="form.controls['Password'].dirty && !form.controls['Password'].valid && form.controls['Password'].touched && form.controls['Password'].errors"
                            class="error-message">
                            <div class="alert alert-danger" *ngIf="form.controls['Password'].errors.required">Password is required</div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label for="emailid">Retype Password</label>

                        <input type="password" class="form-control" id="emailid" formControlName="RePassword" <div *ngIf="form.controls['RePassword'].dirty && !form.controls['RePassword'].valid && form.controls['RePassword'].touched && form.controls['RePassword'].errors"
                            class="error-message">
                        <div class="alert alert-danger" *ngIf="form.controls['RePassword'].errors.required">RePassword is required</div>
                    </div>

                    <div class="form-check">
                        <label class="form-check-label">
                                                  <a href="" [routerLink]="['/account/login']">Click for login</a>
                                                </label>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
