<div class="container-fluid">
  <div class="row">
      <div class="col-md-12">
          <div class="tailor-element tailor-section pageblock  tailor-5a621a3657770">
              <div class="tailor-section__content">
                <div class="tailor-element tailor-content text-center  tailor-5a621a3657769">
                  <div class="pre-title"></div>
                  <h1>Sellpro Privacy Policy</h1>
                </div>
                <div class="tailor-element tailor-content tailor-5a621a3657771">
                  <p>
                    <strong>Your privacy is important to us!
                      <br>
                    </strong>This privacy policy outlines the types of information we collect when you use the service offered by SellPro, how
                    we use this information as well as some of the steps we take to protect it.</p>
                  <p>
                    <strong>Which personal information do we collect?</strong>
                    <br>When using our service, you may be asked to enter your name, email, address and other details.
                    Personal information may be collected when users visit our site, register on the site.</p>
                  <p>
                    <strong>Which non-personal identification information do we collect?</strong>
                    <br>We may collect non-personally identifying information your browser makes available whenever you visit a website.
                    This information includes your Internet Protocol address, browser type, browser language, the date and time of your
                    query and one or more cookies that may uniquely identify your browser.</p>
                  <p>
                    <strong>How do we use personal information?</strong>
                    <br>SellPro may collect and use personal information for the following purposes:
                    <br>to manage this website
                    <br>to personalize the website for users</p>
                  <p>
                    <strong>How do we protect your information?</strong>
                    <br>We will take appropriate technical and organizational precautions to prevent the loss, abuse or manipulation of your
                    personal information.
                    <br>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized
                    access, manipulation, disclosure or destruction of your personal information, username, password
                    and data stored on our site.</p>
                  <p>
                    <strong>Changes to this privacy policy</strong>
                    <br>Any changes will be posted on
                    https://amazon-mws-web-v1.azurewebsites.net/ We advise you to check this page periodically for any changes.</p>
                  <p>
                    <strong>Contacting us</strong>
                    <br>If you have any questions regarding this privacy policy you may contact us using the information below.</p>
                  <p>https://amazon-mws-web-v1.azurewebsites.net/
                  <p>
                    <strong>Disclaimer</strong>
                    <br>SellPro, nor its operators, are affiliated with or funded by Amazon.com, Inc. in any way.</p>
                </div>
              </div>
            </div>
      </div>
  </div>
</div>

